<footer>
  <div style="display: flex;
  align-items: center;
  justify-content: center;">
    <img class="social-img-footer" src="/assets/linkedin.svg" alt="LinkedIn">
    <img class="social-img-footer" src="/assets/github.svg" alt="GitHub">
    <img class="social-img-footer" src="/assets/x.svg" alt="X">
  </div>
  <a href="#">
    <span>
      <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>